# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# read in csv
weather_df = pd.read_csv("../output_data/weather.csv")

# preview df
weather_df.head()

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
0,rikitea,PF,-23.1203,-134.9692,79.32,71,17,11.88,1613528677
1,qaanaaq,GL,77.4840,-69.3632,-6.79,86,94,6.24,1613528677
2,anadyr,RU,64.7500,177.4833,-13.36,86,0,6.53,1613528677
3,yellowknife,CA,62.4560,-114.3525,-18.00,76,75,5.75,1613528678
4,hasaki,JP,35.7333,140.8333,54.00,37,40,18.41,1613528678

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# pull location & humidity info
locations = weather_df[["Latitude", "Longitude"]]
humidity = weather_df["Humidity (%)"].astype(float)

In [5]:
# plot heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)

# add layer
fig.add_layer(heat_layer)

# display map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# narrow down weather data to find cites with my ideal vacation conditions
ideal_place = weather_df.loc[(weather_df["Max Temp (F)"] > 68) & (weather_df["Max Temp (F)"] < 82)
                          & (weather_df["Humidity (%)"] < 60) & (weather_df["Cloudiness (%)"] < 40)
                          & (weather_df["Wind Speed (mph)"] < 10)]

ideal_place = pd.DataFrame(ideal_place)
ideal_place

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
19,busselton,AU,-33.6500,115.3333,73.38,59,0,8.86,1613528679
55,aranos,NaN,-24.1333,19.1167,69.28,24,20,5.08,1613528683
176,pozo colorado,PY,-23.4923,-58.7972,78.73,51,9,6.51,1613528700
235,new norfolk,AU,-42.7826,147.0587,80.37,27,0,4.16,1613528707
320,ahipara,NZ,-35.1667,173.1667,74.66,55,19,9.33,1613528717
385,khon kaen,TH,16.5000,102.0833,78.80,43,14,7.49,1613528724
392,comodoro rivadavia,AR,-45.8667,-67.5000,69.80,40,0,8.05,1613528725
446,mathbaria,BD,22.2876,89.9593,70.43,55,0,3.76,1613528731
450,sur,OM,22.5667,59.5289,69.58,54,0,6.46,1613528731
486,neuquen,AR,-38.9516,-68.0591,73.40,49,0,6.91,1613528736
543,san juan,AR,-31.5375,-68.5364,79.45,44,30,6.78,1613528742
564,keetmanshoop,NaN,-26.5833,18.1333,72.68,21,0,4.43,1613528744

In [11]:
ideal_place = ideal_place.dropna()
ideal_place

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
19,busselton,AU,-33.6500,115.3333,73.38,59,0,8.86,1613528679
176,pozo colorado,PY,-23.4923,-58.7972,78.73,51,9,6.51,1613528700
235,new norfolk,AU,-42.7826,147.0587,80.37,27,0,4.16,1613528707
320,ahipara,NZ,-35.1667,173.1667,74.66,55,19,9.33,1613528717
385,khon kaen,TH,16.5000,102.0833,78.80,43,14,7.49,1613528724
392,comodoro rivadavia,AR,-45.8667,-67.5000,69.80,40,0,8.05,1613528725
446,mathbaria,BD,22.2876,89.9593,70.43,55,0,3.76,1613528731
450,sur,OM,22.5667,59.5289,69.58,54,0,6.46,1613528731
486,neuquen,AR,-38.9516,-68.0591,73.40,49,0,6.91,1613528736
543,san juan,AR,-31.5375,-68.5364,79.45,44,30,6.78,1613528742

In [12]:
ideal_place.columns

Index(['City', 'Country', 'Latitude', 'Longitude', 'Max Temp (F)',
       'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (mph)', 'Date'],
      dtype='object')

In [18]:
hotel_df = ideal_place[['City', 'Country', 'Latitude', 'Longitude', 'Max Temp (F)',
       'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (mph)']]
hotel_df

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
19,busselton,AU,-33.6500,115.3333,73.38,59,0,8.86
176,pozo colorado,PY,-23.4923,-58.7972,78.73,51,9,6.51
235,new norfolk,AU,-42.7826,147.0587,80.37,27,0,4.16
320,ahipara,NZ,-35.1667,173.1667,74.66,55,19,9.33
385,khon kaen,TH,16.5000,102.0833,78.80,43,14,7.49
392,comodoro rivadavia,AR,-45.8667,-67.5000,69.80,40,0,8.05
446,mathbaria,BD,22.2876,89.9593,70.43,55,0,3.76
450,sur,OM,22.5667,59.5289,69.58,54,0,6.46
486,neuquen,AR,-38.9516,-68.0591,73.40,49,0,6.91
543,san juan,AR,-31.5375,-68.5364,79.45,44,30,6.78

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
# add hotel name column
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
19,busselton,AU,-33.6500,115.3333,73.38,59,0,8.86,
176,pozo colorado,PY,-23.4923,-58.7972,78.73,51,9,6.51,
235,new norfolk,AU,-42.7826,147.0587,80.37,27,0,4.16,
320,ahipara,NZ,-35.1667,173.1667,74.66,55,19,9.33,
385,khon kaen,TH,16.5000,102.0833,78.80,43,14,7.49,
392,comodoro rivadavia,AR,-45.8667,-67.5000,69.80,40,0,8.05,
446,mathbaria,BD,22.2876,89.9593,70.43,55,0,3.76,
450,sur,OM,22.5667,59.5289,69.58,54,0,6.46,
486,neuquen,AR,-38.9516,-68.0591,73.40,49,0,6.91,
543,san juan,AR,-31.5375,-68.5364,79.45,44,30,6.78,

In [20]:
# establish url & params
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type": "lodging",
          "keyword": "hotel",
          "radius": 5000,
          "key": g_key 
}

# loop through the data to search for nearby hotels based on the city lat/lng
for index, row in hotel_df.iterrows():
    # get location from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    city = row["City"]
    country = row["Country"]

    # add location to params
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Finding hotels for index {index}: {city}, {country}.")
    response = requests.get(base_url, params=params).json()

    results = response["results"]
        
    try:
        print(f"Top result for hotel located within selected radius of {city}, {country}: {results[0]['name']}.")
        
        # add results to hotel_df
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
                   
    
    except (KeyError, IndexError):
        print(f"No results found for hotel found within the selected radius for {city}, {country}.")
    
    print("------------")

Finding hotels for index 19: busselton, AU.
Top result for hotel located within selected radius of busselton, AU: Broadwater Resort.
------------
Finding hotels for index 176: pozo colorado, PY.
Top result for hotel located within selected radius of pozo colorado, PY: Hotel Marriot ⭐️⭐️⭐️⭐️.
------------
Finding hotels for index 235: new norfolk, AU.
Top result for hotel located within selected radius of new norfolk, AU: Tynwald Willow Bend Estate.
------------
Finding hotels for index 320: ahipara, NZ.
Top result for hotel located within selected radius of ahipara, NZ: Endless Summer Lodge - Guest House.
------------
Finding hotels for index 385: khon kaen, TH.
Top result for hotel located within selected radius of khon kaen, TH: ลีลาวลัย เรส โฮเทล ชุมแพ.
------------
Finding hotels for index 392: comodoro rivadavia, AR.
Top result for hotel located within selected radius of comodoro rivadavia, AR: Lucania Palazzo Hotel.
------------
Finding hotels for index 446: mathbaria, BD.
Top result for hotel located within selected radius of mathbaria, BD: Shikdar Hotel.
------------
Finding hotels for index 450: sur, OM.
Top result for hotel located within selected radius of sur, OM: Sur Plaza Hotel.
------------
Finding hotels for index 486: neuquen, AR.
Top result for hotel located within selected radius of neuquen, AR: Hotel Apolo.
------------
Finding hotels for index 543: san juan, AR.
Top result for hotel located within selected radius of san juan, AR: Hotel Viñas del Sol.
------------

In [21]:
hotel_df

,City,Country,Latitude,Longitude,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name
19,busselton,AU,-33.6500,115.3333,73.38,59,0,8.86,Broadwater Resort
176,pozo colorado,PY,-23.4923,-58.7972,78.73,51,9,6.51,Hotel Marriot ⭐️⭐️⭐️⭐️
235,new norfolk,AU,-42.7826,147.0587,80.37,27,0,4.16,Tynwald Willow Bend Estate
320,ahipara,NZ,-35.1667,173.1667,74.66,55,19,9.33,Endless Summer Lodge - Guest House
385,khon kaen,TH,16.5000,102.0833,78.80,43,14,7.49,ลีลาวลัย เรส โฮเทล ชุมแพ
392,comodoro rivadavia,AR,-45.8667,-67.5000,69.80,40,0,8.05,Lucania Palazzo Hotel
446,mathbaria,BD,22.2876,89.9593,70.43,55,0,3.76,Shikdar Hotel
450,sur,OM,22.5667,59.5289,69.58,54,0,6.46,Sur Plaza Hotel
486,neuquen,AR,-38.9516,-68.0591,73.40,49,0,6.91,Hotel Apolo
543,san juan,AR,-31.5375,-68.5364,79.45,44,30,6.78,Hotel Viñas del Sol

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [23]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))